{% load static %}
{% include 'Base/header.html' %}
{% include 'Base/nav.html' %}

<div class="our_services_main">
<div class="our_services_main_first_page">

      <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" navigation="true" space-between="30"
      centered-slides="true" autoplay-delay="5000" autoplay-disable-on-interaction="false">
      <swiper-slide>  <img src="{{ser.slider_img1.url}}"alt="loading... ">  <div class="servicesSlide">
        <h2>{{ser.title}}services <br>For your <br>
            Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div>
    </swiper-slide>
      <swiper-slide><img src="{{ser.slider_img2.url}} " alt=" "> <div class="servicesSlide">
        <h2>RSA services <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
      <!-- <swiper-slide><img src="../images/rsa3.png" alt=" "> <div class="servicesSlide">
        <h2>RSA services <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide>
      <swiper-slide><img src="../images/rsa4.png" alt=" "> <div class="servicesSlide">
        <h2>RSA services <br>For your <br>
          Vehicle</h2>
              <h6>Book your four wheeler & two wheeler for service/repair from <br>
                anywhere and check their working status on your mobile & online <br>
                platform.</h6>
            <button class="Btn1">BOOK NOW </button>
      </div></swiper-slide> -->
  
    </swiper-container>
</div>

    <div class="our_services_main_second_page">
        <div class="our_services_main_second_page_top">
            <h1>SERVICES WE PROVIDE</h1>
            <h5>We Provide all the services, repairs and maintenance your vehicle needs. Some of the automotive services and repairs  we provide include</h5>
        </div>
         <div class="all_services">
              <div class="service_description">
</h5>
                <h1>What Is  It</h1>
              <h5>{{ser.what}}</h5>
</div>
              <div class="service_img">
                <img src="{{ser.what_img.url}}" alt="">
              </div>
         </div>
         <div class="all_services">
            <div class="service_img">
                <img src="{{ser.how_img.url}}" alt="">
              </div>
            <div class="service_description">
              <h1>How It  Works</h1>
<h5>{{ser.how}}</h5>
</div>
         
       </div>
       <div class="all_services">
        <div class="service_description">
          <h1>Why It  Is useful</h1>
 
<h5>{{ser.why}}</h5>


</div>
        <div class="service_img">
          <img src="{{ser.why_img.url}}" alt="">
        </div>
   </div>
   <div class="all_services">
      <div class="service_img">
          <img src="{{ser.when_img.url}}" alt="">
        </div>
      <div class="service_description">
        <h1>When To  Do</h1>
<h5>{{ser.when}}</h5>
</div>
   
 </div>

    </div>
</div>

{% include 'Base/service_footer.html' %}
<script src="{% static 'js/script.js' %}"></script>
<!-- <script src="../javascripts/our-services.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-element-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>